<div class="container" style="width: 50%; border: 1px solid #D3D3D3; border-radius: 5px; padding: 12px;">
  <%= form_for(resource, :html => {:class => "form-horizontal"}, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <legend>Create your Placeholderr account</legend>

    <fieldset>

      <div class="form-group>">
        <div class="field">
          <%= f.label :first_name, :class => "col-lg-2 control-label" %><br />
          <%= f.text_field :first_name, :id => "inputEmail", autofocus: true %>
        </div>

      <div class="field">
        <%= f.label :last_name, :class => "col-lg-2 control-label" %><br />
        <%= f.text_field :last_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email, :class => "col-lg-2 control-label" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br />
      <div class="field">
        <%= f.label :password, :class => "col-lg-2 control-label" %>
        <%= f.password_field :password, autocomplete: "off" %><br />
        <% if @minimum_password_length %>
          <small>(<%= @minimum_password_length %> characters minimum)</small>
        <% end %>
      </div>
      
      <div class="field">
        <%= f.label :password_confirmation, :class => "col-lg-2 control-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>

    </fieldset>

    <div class="actions" style="margin: 20px;">
      <%= f.submit "Sign up", :class => "btn btn-primary" %>
    </div>
  <% end %>

  <div style="margin: 20px;">
    <%= render "devise/shared/links" %>
  </div>

</div>
