<p id="notice"><%= notice %></p>

<h1 style="margin-left: 5%;"><%= current_user.first_name %>'s Placeholderrs</h1>

        <% @topics.each do |topic| %>
            <div class = "row col-md-12 col-sm-12" style="margin-left: 5%;">
              <div class = "topic-head">
              <h3><%= link_to "#{topic.title}", topic %><h3>
                <small><p class="topic-head-small"><%= link_to 'Rename', edit_topic_path(topic) %> | <%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></p><small>
              </div>

              <div class="row col-md-10 col-sm-10" style="border: 0px; background-color: transparent;">
                <%= render topic.bookmarks %>
              </div>
            </div>

    <% end %>

<br>

<div style="margin-left: 6%;">
  <%= button_to 'New Topic', new_topic_path, :method => :get, :class => "btn btn-primary" %>
</div>
