<div class="container">

  <h3>
    <%= @topic.title %>
  </h3>

  <div class="row col-md-12 col-sm-12">
    <% @topic.bookmarks.each do |bookmark| %>
      <div class="col-md-2 col-sm-2" style="text-align: center;">
        <div>
          <%= link_to image_tag(bookmark.image_url, class: "bookmark-image"), bookmark.url %>
        </div>
        <p><%= bookmark.pretty_url %></p>
        <div style="padding-bottom: 8px;">
          <small>Like | Delete</small>
        </div>
      </div>
    <% end %>
  </div>

  <!-- <div>
    <table id="table-bookmarks">
      <tr>
        <td><%= render @topic.bookmarks %></td>
      </tr>
    </table>
  </div> -->

  <!-- <%= render @topic.bookmarks %> -->

  <br />

<div class="row col-md-12 col-sm-12">
  <%= render partial: 'bookmarks/form', locals: { topic: @topic, bookmark: @bookmark } %>
</div>


  <!-- <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', topics_path %> -->

</div>
