<div class="container" style="width: 50%; border: 1px solid #D3D3D3; border-radius: 5px; padding: 12px;">

  <%= form_for(resource, :html => {:class => "form-horizontal"}, as: resource_name, url: session_path(resource_name)) do |f| %>

    <legend>Sign in to your Placeholderr acount</legend>

    <div class="form-group">
      <div class="field">
        <%= f.label :email, :class => "col-lg-2 control-label" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, :class => "col-lg-2 control-label" %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field" style="padding-left: 20px; padding-right: 20px;">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>

      <div class="actions" style="padding: 20px;">
        <%= f.submit "Log in", :class => "btn btn-primary" %>
      </div>
    <% end %>


  <%= render "devise/shared/links" %>

  </div>
